* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F6F8;
}

.App {
}

a {
  color: #5C6AC4;
}
nav {
  width: 20%;
  float: left;
  height: 100vh;
}

main {
  width: 80%;
  float: right;
}
